t.py
testTelegramBOT_.py
testThePirateBay.py
__pycache__/*
settings.json
/dataList.dict
/tmp/
/Classes/__pycache__/*
/Helpers/__pycache__/*
/Models/__pycache__/*
.env
/data.dict
data.dict
.DS_Store
src/TelegramBOT/Classes/__pycache__
src/TelegramBOT/Helpers/__pycache__
src/TelegramBOT/Models/__pycache__
